<h1 class="page-header">{{ ::runKey }}</h1>

<div class="row" ng-if="!runData.BODY">
  <div class="col-md-6 col-md-offset-3">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span>Loading data</span>
      </div>
    </div>
  </div>
</div>

<h2>Variants</h2>
<div class="row" ng-if="runData.BODY">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="form-group"><label>Chr: </label><input type="text" class="form-control" size="2" ng-model="search.value.chr"></div>
      <div class="form-group"><label>Pos: </label><input type="text" class="form-control" size="15" ng-model="search.value.pos"></div>
      <div class="form-group" ng-repeat="(key, value) in filterValues">
        <label>{{key}} >= </label><input type="text" class="form-control" size="2" ng-model="filterValues[key]">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      Number of variants:
      <select ng-model="varLimit" class="form-inline">
        <option value=25>25</option>
        <option value=50>50</option>
        <option value=100>100</option>
      </select>
    </div>
  </div>
</div>

<div class="table-responsive" ng-if="runData.BODY">
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Chr</th>
      <th>Pos</th>
      <th>Ref</th>
      <th>Alt</th>
      <th ng-repeat="sample in runData.HEADER.samples">{{ sample }}</th>
      <th ng-repeat="info in infoFields">{{ info }}</th>
    </tr>
    <tr dir-paginate="variant in runData.BODY | runVarTableFilter:filterValues | itemsPerPage: varLimit">
      <td>{{variant.chr}}</td>
      <td>{{variant.pos}}</td>
      <td>{{variant.ref}}</td>
      <td>{{variant.alt}}</td>
      <td ng-repeat="sample in runData.HEADER.samples">
        <ul class="list-inline" ng-if="variant.samples[sample].GT">
          <li>GT: {{variant.samples[sample].GT}}</li>
          <li>GQ: {{variant.samples[sample].GQ}}</li>
          <li>DP: {{variant.samples[sample].DP}}</li>
        </ul>
      </td>
      <td ng-repeat="info in infoFields">{{variant.info[info]}}</td>
    </tr>
  </table>
</div>
<dir-pagination-controls template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>

<h2>Conversion Info</h2>
<div class="row">
  <dl class="dl-horizontal">
    <dt>Date</dt><dd>{{runData.HEADER.options.date}}</dd>
    <dt>bio-vcf version</dt><dd>{{runData.HEADER.options.version}}</dd>
    <dt>vcf2json template</dt><dd>{{runData.HEADER.options.template}}</dd>
  </dl>
</div>

<h2>Run Info</h2>
<div class="row">
  <dl class="dl-horizontal">
    <dt>Ref Genome</dt><dd>{{runData.HEADER.meta.reference}}</dd>
    <dt>GATKCommandLine</dt><dd>{{runData.HEADER.meta.GATKCommandLine}}</dd>
  </dl>
</div>
